body {
    color: blue;
}
h1 {
    background-color: black;
}
h2 {
    background-color: blueviolet;
}
h3 {
    background-color: aqua;
}
h4 {
    background-color: brown;
}
h5 {
    background-color: burlywood;
}